.edit__form__container {
	width: 100%;
	padding: 25px 10px;
}

.edit__form__data {
	width: 100%;
	display: flex;
	.edit__data__main {
		width: 50%;
	}
	.edit__data__description {
		width: 50%;
	}

	label {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.edit__field {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 15px;
		border: 0.5px solid rgba(0, 0, 0, 0.4);
		border-radius: 10px;
		padding: 0 10px;
		height: 30px;
		font-size: 16px;
	}
	.description__field {
		width: 100%;
		border: 0.5px solid rgba(0, 0, 0, 0.4);
		border-radius: 10px;
		resize: none;
		font-size: 16px;
		padding: 5px 10px;
	}
}

.edit__button__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.apply__edit__button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
	background-color: rgb(102, 163, 255);
	font-size: 16px;
	height: 40px;
	width: 200px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	&:hover {
		background-color: rgb(125, 177, 255);
		cursor: pointer;
	}
}

.cancel__edit__button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	background-color: rgb(200, 0, 0);
	font-size: 16px;
	height: 40px;
	width: 200px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	&:hover {
		background-color: rgb(255, 0, 0);
		cursor: pointer;
	}
}

@media screen and (max-width: 720px) {
	.edit__form__data {
		flex-direction: column;
		.edit__data__main {
			width: 100%;
		}
		.edit__data__description {
			width: 100%;
		}
		.edit__field {
			width: 100%;
		}
	}
}
